/**
 * Cream
 */

.cream {
    position: absolute;
    z-index: z('cream');

    &__layer {
        position: absolute;
        overflow: hidden;
        z-index: z('cream') + 1;

        > img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
        }

        &--c {
            z-index: z('cream') + 2;
        }
    }

    .res-300x250 & {
        &__layer {
            &--l {
                width: 147px;
                height: 391px;
                top: 0;
                bottom: 391px;
                left: 0px;
            }
            
            &--c {
                width: 140px;
                height: 391px;
                top: 0;
                bottom: 391px;
                left: 130px;
            }

            &--r {
                width: 147px;
                height: 391px;
                top: 0;
                bottom: 391px;
                left: 261px;
            }

        }
    }
}