$space: 10px;
$base-font-size: 16px;

$fallback: Helvetica, Arial, sans-serif;
$regular: '', $fallback;
$reg: $regular;

$border:        #000000;
$light:         #C6C5E4;
$text:          #FFFFFF;

$z-index: (
    'container': 1,
    'bg': 1,
    'cta': 3,
    'slide': 4,
    'cream': 5,
    'razor': 10,
    'container-border': 20
);
