@import '../../global/init';

/**
 * GC Awareness: 300x250
 */

.container {
    width: 300px;
    height: 250px;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 150px;
    z-index: z('cover');
}
