<div class="container">
    <div class="bg" id="bg"><img src="images/bg-light--@@size.jpg" alt=""></div>
    <div class="cta" id="cta"><img src="images/cta-01--@@size.png" alt="Click For Savings"></div>
    <div class="cover" id="cover"><img src="images/cover--@@size.jpg" alt=""></div>
    <div class="slide">
        <div class="cream" id="cream">
            <div class="cream__layer cream__layer--l" id="creamL"><img src="images/cream-l--@@size.png" id="creamLImg" alt=""></div>
            <div class="cream__layer cream__layer--c" id="creamC"><img src="images/cream-c--@@size.png" id="creamCImg" alt=""></div>
            <div class="cream__layer cream__layer--r" id="creamR"><img src="images/cream-r--@@size.png" id="creamRImg" alt=""></div>
        </div>
        <div class="razor" id="razor"><img src="images/razor--@@size.png" alt="New! Barbasol Razors"></div>
    </div>
</div>
